<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hilos_zi"
        tools:targetApi="31">

        <service
            android:name=".TimeService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ej5_2"
            android:exported="false" />
        <activity
            android:name=".ej7"
            android:exported="false" />
        <activity
            android:name=".ej5"
            android:exported="false" />
        <activity
            android:name=".ej3"
            android:exported="false" />
        <activity
            android:name=".ej1"
            android:exported="false" />
        <activity
            android:name=".ej17"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>